@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

section.content {
  position: relative;
  padding: 2.2em 0;
  max-width: 800px;
  margin: 0 auto;
  h1 {
    margin: 0 0 1em;
  }
  h2 {
    margin: 45px 0 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
  }
  p {
    line-height: 1.6em;
    margin: 1.2em 0 -1.2em;
    padding-bottom: 1.2em;
    position: relative;
    z-index: 1;
  }
}

h1, h2, h3, h4, strong {
  font-weight: 600;
  color: #2c3e50;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 600;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 600;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1.1px;
  color: #34495e;
}

p {
  word-spacing: 0.05em;
}
